<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nouvelle entrée</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-item>
      <ion-label>Intitulé : </ion-label>
      <ion-input [(ngModel)]="itemContent" name="itemContent"></ion-input><br>
    </ion-item>
    <ion-item>
      <ion-label>Auteur : </ion-label>
      <ion-input [(ngModel)]="itemAuthor" name="itemAuthor"></ion-input><br>
    </ion-item>

    <ion-item>
      <ion-button color="success" (click)="addItem()">Valider</ion-button>
    </ion-item>
  </form>

</ion-content>
<!-- <ion-content>
  <form (ngSubmit)="logForm()">
    <ion-input type="text" [(ngModel)]="item.label" name="itemLabel"></ion-input>
    <ion-input type="text" [(ngModel)]="item.text" name="itemText"></ion-input>
    <button ion-button type="submit" block>Add Todo</button>
  </form>
</ion-content> -->